[Unit]
Description=webapp
After=network.target mariadb.service

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/application/webapp
ExecStart=/usr/bin/node /opt/application/webapp/app.js
Restart=on-failure


[Install]
WantedBy=multi-user.target
